node_modules
.pnpm-store
dist
build
.next
.turbo
coverage
.cache
*.log
*.tsbuildinfo
.cache/

.env
.env.local
.env.*.local
!.env.example

.DS_Store
Thumbs.db

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

apps/web/dist
apps/api/dist
apps/worker-*/dist
packages/*/dist
packages/db/prisma/migrations/.shadow

docker/data/
*.local

.dev-logs/
