@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 97%;
    --foreground: 220 13% 18%;

    --card: 0 0% 100%;
    --card-foreground: 220 13% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 18%;

    --primary: 250 90% 66%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 13% 95%;
    --secondary-foreground: 220 13% 18%;

    --muted: 220 13% 95%;
    --muted-foreground: 220 9% 46%;

    --accent: 250 90% 96%;
    --accent-foreground: 250 90% 40%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 250 90% 66%;

    --sidebar: 250 28% 18%;
    --sidebar-foreground: 220 13% 91%;
    --sidebar-accent: 250 90% 66%;
    --sidebar-accent-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }
}

